.slider {
    height: 150px;
}
.contact h2 {
    height: auto;
    padding-top: none;
}
.slider_6 {
    height: auto;
}
.job {
    padding-top: 0px;
}
.form {
    padding-bottom: 100px;
}
.header_2 {
    padding-top: 40px;
    padding-bottom: 35px;
}
.footer {
    height: auto;
}